*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: #383737;
            transition: 0.5s;  
        }
    }   
}