.card{
    width: 190px;
    height: 254px;
    border-radius: 20px;
    background-size: cover;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    &:hover{
        border-color: #181717;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
        background-position: 50%;
        button{
            transform: translate(-50%, 50%);
            opacity: 1;
        }
    }
    div{
        color: rgb(211, 207, 207);
        height: 100%;
        gap: .5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;   
        >p{
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
            &:nth-child(2){
                font-size: 2em;
            }
        }
    }
    button{
        transform: translate(-50%, 125%);
        width: 60%;
        border-radius: 1rem;
        border: none;
        background-color: rgb(65, 61, 61);
        color: #fff;
        font-size: 1rem;
        padding: .5rem 1rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease-out;
    }
}
.coctelera-card{
    background-image: url(../public/img/cocteleraImg.jpg) ;
    .card-title{
        color: black; 
    }
    .card-price{
        color: rgb(153, 153, 153);
    }    
}
.barspoon-card{  
    background-image: url(../public/img/barspoonImg.jpg);
    .card-price{
        color: rgb(153, 153, 153);
    }
}
.colador-card{    
    background-image: url(../public/img/coladorOrugaImg.jpg);
    .card-title{
        color: black;
    }
    .card-price{
        color: rgb(153, 153, 153);
    }
}
.jigger-card{
    background-image: url(../public/img/jiggerImg.jpg);
    .card-price{
        color: rgb(153, 153, 153);
    }
}
.vaso-old-fashioned-card{
    background-image: url(../public/img/vasoOldFashionedImg.jpg);
}
.vaso-highball-card{
    background-image: url(../public/img/vasoHighballimg.jpg);
}
.copa-hurricane-card{
    background-image: url(../public/img/copaHurricaneImg.jpg);
}
.copa-cocktail-card{
    background-image: url(../public/img/copaCocktailImg.jpg);
}
.grey-goose-card{
    background-image: url(../public/img/greyGooseImg.jpg);
    .card-price{
        color: rgb(0, 0, 0);
    }
}
.diplomatico-card{
    background-image: url(../public/img/diplomaticoImg.jpg);
    .card-price{
        color: rgb(0, 0, 0);
    }
}
.hendricks-card{
    background-image: url(../public/img/hendricksImg.jpg);
}
.hennessy-card{
    background-image: url(../public/img/hennessyImg.jpg);
}